$node-width: 180px;
$node-height: 100px;
$editor-height: 75px;
$header-height: $node-height - $editor-height;
$controll-diameter: 14px;

.node {
    position: absolute;
    width: $node-width;
    min-height: $node-height;
    border: 1px solid #bdbdbd;
    box-sizing: border-box;
    outline: none;

    &:hover,
    &:focus {
        border-color: #747474;
    }    
}

.header {
    height: $header-height;
    border-bottom: 1px solid #bdbdbd;
    background-color: #dadada;
}

.editor {
    min-height: $editor-height;
    padding: 5px;
    background-color: #ffffff;
    outline: none;

    &:empty::before {
        content: attr(placeholder);
        color: #818181;
        font-size: 12px;
    }

    &:empty:focus::before {
        content: '';
    }
}

.controller {
    display: none;
    position: absolute;
    width: $controll-diameter;
    height: $controll-diameter;
    border-radius: 50%;
    background-color: #e987d9;
}

.top {
    top: -($controll-diameter / 2);
    left: 50%;
    transform: translateX(-50%);
}

.bottom {
    bottom: -($controll-diameter / 2);
    left: 50%;
    transform: translateX(-50%);
}

.left {
    top: 50%;
    transform: translateY(-50%);
    left: -($controll-diameter / 2);
}

.right {
    top: 50%;
    transform: translateY(-50%);
    right: -($controll-diameter / 2);
}