.node {
    position: absolute;
    padding: 5px;
    background-color: #ffffff;
    border: 2px solid #9d78af;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;

    &:hover,
    &:focus {
        border-color: #6f517e;
    }    
}

.editor {
    width: 100px;
    min-height: 40px;
    margin: auto;
    outline: none;

    &:empty::before {
        content: attr(placeholder);
        color: #818181;
        font-size: 12px;
    }

    &:empty:focus::before {
        content: '';
    }
}
