.svg {
    width: 100%;
    height: 100vh;
}

.point {
    fill: #e1d5e7;
    stroke: #896899; 
    stroke-width: 2;
    r: 15;

    &:hover,
    &:focus {
        fill: #cdaedd;
        r: 18;
        cursor: pointer;
    }
}

.line {
    stroke: #896899;
    stroke-width: 2;
}
